langserve[all]==0.0.39
openai==1.7.1
langchain-openai==0.0.2.post1
tiktoken==0.5.2
gpt4all==2.0.2
chromadb==0.4.22
pypdf==3.17.4
webdavclient3==3.14.6
docx2txt==0.8.0
unstructured==0.12.0
python-pptx==0.6.23
networkx==3.2.1
pandas==2.1.4
xlrd==2.0.1
openpyxl==3.1.2
sse-starlette==1.8.2
markdown==3.5.2
pptx2md==1.5.0
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20221105
pdfplumber==0.10.3
pypdfium2==4.26.0
mammoth==1.6.0
pptx2md==1.5.0
pysbd==0.3.4
