langserve[all]==0.0.39
openai==1.7.1
langchain-openai==0.0.2.post1
tiktoken==0.5.2
gpt4all==2.0.2
chromadb==0.4.22
pypdf==3.17.4
webdavclient3==3.14.6
docx2txt==0.8.0
unstructured==0.12.0
python-pptx==0.6.23
networkx==3.2.1
pandas==2.1.4
xlrd==2.0.1
openpyxl==3.1.2
sse-starlette==1.8.2
markdown==3.5.2
pptx2md
